#circle {
border-radius:50%;
width:275px;
height:250px;
border-radius: white;
position: absolute;
left: 50%;
bottom: 50%;
}

}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 100px;
    length: 200%;
    background-color: #0000ffff;
}

li a {
    display: block;
    color: #555;
    padding: 25px 0 25px 0px;
    text-decoration: none;
    font-family:Arial;
}

/* Change the link color on hover */
li a:hover {
    background-color: #ffff;
    color: #555;
}

hr {
  width:55%;
  margin-right: 5px;
  margin-left: 35%;
  display: block;
  border-style: inset;
  border-width: 2px;

}

h4 {
  padding-top: 0;
  text-indent: 55%;
  font-family: Arial;
  font-size: 18;
  color:#555;
}
p {
  text-indent: 55%;
  font-family: Arial;
  font-size: 18px;
  top:80%;
  color: #555
  align: center;
}
